<app-navbar></app-navbar>

<div class="container main-container">
    <router-outlet></router-outlet>
</div>

<!-- 
<footer class="page-footer">
    <div class="text-center"><strong>Commic App - Pablo César Acosta Paredes - 2020</strong>
    </div>
</footer> -->
<style>
    .footer {
       position: fixed;
       bottom: 0;
       width: 100%;
       background-color: #007bff;
       color: white;
       text-align: center;
    }
</style>

<footer class="footer">
    <p><strong> CommicApp - Pablo César Acosta Paredes</strong></p>
</footer>

